In [7]:
name_of_var = 2

In [8]:
x, y = 1, 2

In [9]:
z = x + y
z

3

In [10]:
'single'

'single'

In [11]:
"double"

'double'

In [14]:
print("DOUBLE")

DOUBLE

In [15]:
name = "Daniil Bladyko"

In [16]:
print("Hello my name is {}".format(name))

Hello my name is Daniil Bladyko

In [17]:
number = 12

In [19]:
print("Hi my name is {x} and my number is {y}".format(x=name, y=number))

Hi my name is Daniil Bladyko and my number is 12

In [20]:
f'Print {number}'

'Print 12'

In [21]:
# LIST
[1, 2, 3]

[1, 2, 3]

In [22]:
['hi', 0, 1]

['hi', 0, 1]

In [24]:
my_list = [1, 2, 3]

In [25]:
my_list.append(4)
my_list

[1, 2, 3, 4]

In [26]:
my_list = ['a', 'b', 'c', 'd']

In [27]:
my_list

['a', 'b', 'c', 'd']

In [28]:
my_list[0]

'a'

In [29]:
my_list[3]

'd'

In [36]:
my_list[2:]

['c', 'd']

In [37]:
nested = [1, 2, ['a', 'b']]

In [38]:
nested

[1, 2, ['a', 'b']]

In [39]:
nested[2][0]

'a'

In [40]:
d = {'key': 10, 'key2': 'second'}

In [42]:
d['key2']

'second'

In [43]:
True; False

False

In [46]:
t = 1, 2, 3
t

(1, 2, 3)

In [47]:
t2 = (1, 2, 3)

In [48]:
t2

(1, 2, 3)

In [49]:
t2[0]

1

In [50]:
t2[0] = 3

TypeError: 'tuple' object does not support item assignment

In [53]:
# Set
{1, 2, 3, 2, 5, 4}

{1, 2, 3, 4, 5}

In [54]:
import math

In [56]:
math.sqrt(16)

4.0

In [57]:
'hello'[0:3]

'hel'

In [58]:
1 < 2

True

In [59]:
1 <> 2

SyntaxError: invalid syntax (<ipython-input-59-bbad3f4bad12>, line 1)

In [60]:
'string' == 'string'

True

In [61]:
1 == '1'

False

In [63]:
(1 == 2) and (1 == 1)

False

In [64]:
(1 == 2) or (1 == 1)

True

In [68]:
if 1 == 2:
    print('hello')
elif 2 == 2:
    print('two')
else:
    print('if statement was not true')

two

In [74]:
# for loops
seq = range(1,6)

for num in seq:
    print(num ** 2)

1
4
9
16
25

In [81]:
# while loops
i = 1
while i < 5:
    print('i is currently %d' % i)
    print(f'i is currently {i}')
    i += 1

i is currently 1
i is currently 1
i is currently 2
i is currently 2
i is currently 3
i is currently 3
i is currently 4
i is currently 4

In [82]:
list(range(20))[1:-3:2]

[1, 3, 5, 7, 9, 11, 13, 15]

In [84]:
# list Comprehension
x = [1, 2, 3, 4]

out = []
for num in x:
    out.append(num ** 2)

In [85]:
out

[1, 4, 9, 16]

In [86]:
out = [num ** 2 for num in x]

In [87]:
out

[1, 4, 9, 16]

In [88]:
# Function
# Lambda Expressions
# map and filter
# various useful method

In [98]:
def my_func(argument):
    """
    Docstring goes here!
    param param: fdsfsd.
    """
    return argument

In [99]:
x = my_func(5)
x

5

In [100]:
def times_two(var):
    return var * 2

In [101]:
result = times_two(4)

In [102]:
result

8

In [103]:
res = lambda var: var * 2

In [105]:
res(4)

8

In [106]:
seq = [1, 2, 3, 4, 5]

In [109]:
list(map(lambda v: v * 2, seq))

[2, 4, 6, 8, 10]

In [114]:
def is_even(num):
    return num % 2 == 0

print(list(filter(is_even, seq)))

print(list(filter(lambda n: n % 2 == 0, seq)))

[2, 4]
[2, 4]

In [115]:
st = 'hello my name is Sam'
print(st.lower())

hello my name is sam

In [116]:
st.upper()

'HELLO MY NAME IS SAM'

In [120]:
tweet = "Go sports! #cool   "

tweet.strip().split('#')[1]

'cool'

In [121]:
tweet.casefold()

'go sports! #cool   '

In [122]:
d

{'key': 10, 'key2': 'second'}

In [123]:
d.keys()

dict_keys(['key', 'key2'])

In [124]:
d.items()

dict_items([('key', 10), ('key2', 'second')])

In [125]:
my_list = [1, 2, 3]

In [126]:
my_list.append(4)

In [128]:
my_list.pop()

4

In [129]:
my_list

[1, 2, 3]

In [130]:
1 in my_list

True

In [131]:
'a' in [1, 2]

False